.header {
  background-color: #281159;
  border-radius: 2px;
  text-align: center;
  padding: 45px 0;
}

.input {
  width: 340px;
  font-size: 18px;
  border: 1px solid #5F4A8C;
  border-radius: 5px;
  background-color: #F2F2F2;
  padding: 5px 10px;
}

.button {
  border-radius: 8px;
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
  color: #1a1a1a;
  background-color: #E4C2F2;
  cursor: pointer;
  width: 120px;
  margin-left: auto;
}
.button {
  transition: all 0.3s ease;
}

.button:active {
  transform: translateY(4px);
}